@import 'bootstrap/dist/css/bootstrap.min.css';

.align-right {
    padding-top: 1.5rem;
}

.produtos-container {
    padding-bottom: 50px;
}

.maximizar-width {
    width: 100%;
    height: 20%;
}

.card-img-top {
    width: 50%;
    height: 50%;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    text-align: center;
}

.centralizar-junto {
    justify-content: center;
    align-items: center;
}

.margin-span {
    margin: 5px;
}

.separar{
    margin: 50px;
}