@import "bootstrap/dist/css/bootstrap.min.css";

.card {
	border: 5px solid var(--verde-amarelado) !important;
	box-shadow: var(--sombra-principal);
}
.card img {
	transform: scale(0.9);
	transition: 0.3s all ease;
}

.card img:hover {
	transform: scale(1);
}
