@import 'bootstrap/dist/css/bootstrap.min.css';

.container-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-p-4-login, .card-cadastro {
    flex: 1;
    padding: 50px;
    width: 400px;
    height: 400px;
    max-width: 500px;
    max-height: 400px;

}

.card-p-5-login, .card-login {
    flex: 1;
    padding: 50px;
    width: 400px;
    height: 700px;
    max-width: 500px;
    max-height: 800px;

}


.card-p-4-login, .card-p-5-login {
    background-color: rgb(231, 249, 231);
    color: rgba(154, 196, 52, 1);
    border-radius: 0px 10px 10px 0px;
}

.card-cadastro, .card-login {
    background-color: rgba(154, 196, 52, 1);
    border-radius: 10px 0px 0px 10px;


}

.card-login {
    background-color: rgba(154, 196, 52, 1);
    border-radius: 10px 0px 0px 10px;

}

.mb-5-login, .mb-6-login{
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btncad {
    float: none;
    background-color: yellow;
    border-style: none;
    border-radius: 10px;
    align-items: center;
    font-size: 13px;
    padding: 10px;
}

.msgCadastrar, .msglogin {
    color: white;
    padding-bottom: 100px;
}



.personalizado input[type=password] {
    background-color: rgba(154, 196, 52, 1);
    border: 1px solid #ccc;
    color: whitesmoke;
    margin: 0 0 0 0;
    padding: 5px;
}

.personalizado input[type=text] {
    background-color: rgba(154, 196, 52, 1);
    border: 1px solid #ccc;
    color: whitesmoke;
    margin: 0 0 0 0;
    padding: 5px;
}

.personalizado input[type=email] {
    background-color: rgba(154, 196, 52, 1);
    border: 1px solid #ccc;
    color: whitesmoke;
    margin: 0 0 0 0;
    padding: 5px;
}

.mb-4-login {
    text-align: center;
    color: rgba(154, 196, 52, 1);
}
