@import "bootstrap/dist/css/bootstrap.min.css";

.navbar {
	background-color: var(--verde-medio);
}

.position-relative {
	position: relative;
}

.cart-notification {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: red;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}
